@import "src/styles/variable";

.content-tab-component {
	background: $dark-font-color;
	border-radius: 8px;
	padding: 4px 16px;
	display: flex;

	.tab-item {
		color: $font-color;
		cursor: pointer;
		margin: 0 4px;
		width: 80px;
		transition: 0.2s all ease-in-out;

		.tab-name {
			font-family: $be-vietnam-pro-regular;
			font-size: 12px;
		}

		&.selected {
			color: $body-main-color;
			transform: scale(1.1);
		}
	}
}
