$be-vietnam-pro-regular: 'BeVietnamPro-Regular';
@font-face {
	font-family: $be-vietnam-pro-regular;
	src: url("../assets/fonts/BeVietnamPro-Regular.ttf");
}

$body-main-color: #325AFE;
$font-color: #fff;
$dark-font-color: #262626;
$some-what-dark-font-color: #808080;

