@import "src/styles/variable";
.search-input-component {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;

	.wrapper {
		display: flex;
		align-items: center;
		background: white;
		border-radius: 8px;
		overflow: hidden;

		.input-holder {
			width: 90%;

			input {
				max-width: unset;
				width: 100%;
				border: none;
				outline: none;
				font-size: 20px;
				padding: 10px;
			}
		}

		.button-holder {
			width: 10%;
			height: 100%;

			button {
				width: 100%;
				background: transparent;
				border: none;
				height: 100%;
				font-size: 20px;
			}
		}
	}

	.result-loader {
		background-color: #fff;
		position: absolute;
		top: 50px;
		width: 100%;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		.result-items {
			.result-item {
				background-color: #fff;
				a {
					display: block;
					text-decoration: none;
					color: $dark-font-color;
					padding: 4px 14px;
				}
				&:hover {
					background-color: #dddddd;
				}
			}
			.no-result {
				padding: 4px 14px;
				color: $dark-font-color;
			}
		}
	}

	&.typed {
		.wrapper {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}


}
