@import "./src/styles/variable";

.header-component {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;

	.he-centre {
		display: flex;
		align-items: center;
		height: 100%;
		background: $body-main-color;

		.nav-container {
			display: flex;
			width: 100%;

			.nav-logo {
				width: 260px;
				padding: 0 26px;
			}

			.right-container {
				flex: 1;
				width: 0;
				display: flex;
				justify-content: space-between;

				.search-holder {
					width: 50%;
					display: flex;
					align-items: center;
				}

				.other-option-holder {
					display: flex;
					align-items: center;
					padding-right: 10px;

					.options {
						display: flex;

						.option-items {
							cursor: pointer;
							font-size: 20px;
							color: $font-color;
							margin: 0 20px;
							transition: 0.2s all ease-in-out;

							&:hover {
								transform: scale(1.1, 1.1);
							}
						}
					}
				}
			}
		}
	}
}
